<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoFeed</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
</head>
<body>

    <video autoplay="true" id="videoElement" hidden>
    </video>
    <canvas id="canvasElement" hidden></canvas>
    
    <div style="display: flex; align-items: center; flex-direction: column; justify-content: center; margin: 90px auto;" >
        <p>If you cant see your Image from Your web cam
            There must be someone testing this application</p>
        
        <br>
        <img id="imageElement" src="{{ url_for('video_feed') }}" style=" height: 300px;">
        
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    
    <!-- <script src="../static/js/main.js"></script> -->



</body>
</html>